<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :firstName, placeholder: "First Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :lastName, placeholder: "Last Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :tribe, placeholder: "Tribe", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :district, placeholder: "District", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
